<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:og="http://ogp.me/ns#">
	  
<head>
	<th:block th:replace="~{fragments/common/head :: head}"></th:block>
    <th:block layout:fragment="pageHead"></th:block>
</head>

<body>
   	<th:block th:if="${hideHeader != true}" th:replace="~{fragments/common/header :: header}"></th:block>
	<main>
	    <th:block layout:fragment="content"></th:block>
	</main>
</body>
</html>