<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/base-layout}">
	<th:block layout:fragment="pageHead">
		<link rel="stylesheet" type="text/css" href="/css/dashboard.css">
	</th:block>
	<th:block layout:fragment="content">
		<th:block th:replace="~{fragments/section/dashboard/dashboard :: dashboard}"></th:block>
		<th:block th:replace="~{fragments/section/dashboard/scoreModal :: scoreModal}"></th:block>
		<th:block th:replace="~{fragments/scripts/submenu :: submenu}"></th:block>
		<th:block th:replace="~{fragments/scripts/dashboardScripts :: dashboardScripts}"></th:block>
	</th:block>
</html>